<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="icon" type="image/png" href="/static/icon.png" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>Users</h2>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>phone</th>
                <th>name</th>
                <th>age</th>
                <th>role</th>
                <th>code</th>
                <th>fcm</th>
                <th>photo</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.code }}</td>
                    <td>{{ user.fcm }}</td>
                    <td>{{ user.photo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Cities</h2>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in cities %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Restaurants</h2>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>phone</th>
                <th>address</th>
                <th>latlon</th>
                <th>hours</th>
                <th>city</th>
                <th>position</th>
                <th>status</th>
                <th>photo</th>
            </tr>
        </thead>
        <tbody>
            {% for restaurant in restaurants %}
                <tr>
                    <td>{{ restaurant.id }}</td>
                    <td>{{ restaurant.title }}</td>
                    <td>{{ restaurant.phone }}</td>
                    <td>{{ restaurant.address }}</td>
                    <td>{{ restaurant.latlon }}</td>
                    <td>{{ restaurant.hours }}</td>
                    <td>{{ restaurant.city }}</td>
                    <td>{{ restaurant.position }}</td>
                    <td>{{ restaurant.status }}</td>
                    <td>{{ restaurant.photo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Panoramas</h2>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>rid</th>
                <th>photo</th>
            </tr>
        </thead>
        <tbody>
            {% for panorama in panoramas %}
                <tr>
                    <td>{{ panorama.id }}</td>
                    <td>{{ panorama.rid }}</td>
                    <td>{{ panorama.photo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Hotspots</h2>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>number</th>
                <th>latlon</th>
                <th>pid</th>
            </tr>
        </thead>
        <tbody>
            {% for hotspot in hotspots %}
                <tr>
                    <td>{{ hotspot.id }}</td>
                    <td>{{ hotspot.number }}</td>
                    <td>{{ hotspot.latlon }}</td>
                    <td>{{ hotspot.pid }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Categories</h2>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in cities %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Menus</h2>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>description</th>
                <th>price</th>
                <th>currency</th>
                <th>cid</th>
                <th>rid</th>
                <th>photo</th>
            </tr>
        </thead>
        <tbody>
            {% for menu in menus %}
                <tr>
                    <td>{{ menu.id }}</td>
                    <td>{{ menu.title }}</td>
                    <td>{{ menu.description }}</td>
                    <td>{{ menu.price }}</td>
                    <td>{{ menu.currency }}</td>
                    <td>{{ menu.cid }}</td>
                    <td>{{ menu.rid }}</td>
                    <td>{{ menu.photo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
